<div class="container">
  <h1>Edit List</h1>
  <%= render "form" %>
  <%= link_to 'Edit', edit_list_path(@list) , :class => "btn btn-primary btn-sm" %>
  <%= link_to 'Back', lists_path , :class => "btn btn-info btn-sm"%>
</div>